._play-icon {
    left: 1rem;
    top: 1rem 
}

._z-index-2 {
    z-index: 2;
}

._close-icon {
    right: 1rem;
    top: 1rem 
}

._bg-orange {
    background-color: #b06621;
}
._cont-payment-btn {
    width:fit-content;
    color: #eeeeee;
}

._text-light-orange {
    color: orange;
}

._text-green {
    color: green;
}

._model-content {
    width: 25rem;
}

._model-img-container {
    height: 40vh;
}

.minus_btn {
    width: 1rem;
    height: 1rem;
}

.plus_btn {
    width: 1rem;
    height: 1rem;
}

.modal_body {
    background-color: #ffffff !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}