.select-language-icon {
    height: 5vh;
    width: 5vh;
}

.home-main-container {
    height: 100vh;
    background: linear-gradient(0deg, rgb(167 29 32) 0%, rgb(103 32 111) 100%);
    z-index: 1;
}

.barmou-logo-container {
    height: 10vh;
}

button {
    background-color: #a23a18;
    color: white;
}

.video-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    right: 0;
    text-align: center;
}

.home-bg-food-video{
    z-index: -1;
    border-radius: 25rem 25rem 0 0;
    bottom: 0;
}

.info_contaier h1{
    font-size: 10vw;
}

.info_contaier h4{
    font-size: 3vw;
}
