.select-language-icon {
    height: 5vh;
    width: 5vh;
}

.home-main-container {
    height: 100vh;
    background: linear-gradient(0deg, rgb(167 29 32) 0%, rgb(103 32 111) 100%);
    z-index: 1;
}

.barmou-logo-container {
    height: 10vh;
}

.home-main-container h1 {
    font-size: 12vh;
}

button {
    background-color: #a23a18;
    color: white;
}

.home-bg-food-image{
    bottom: 0;
    z-index: -1;
    right: 0rem;
    height: 70vh;
}