header {
    background: linear-gradient(0deg, rgb(155 49 37) 0%, rgb(122 93 54) 100%);
}

header h4 {
    font-weight: bold;
}

header h2 {
    font-weight: bold;
    font-size: 3rem;
}

header h3 {
    font-size: 3rem;
}

header h1 {
    font-weight: bold;
    font-size: 5rem;
}

.header-gray {
    color: #e5e5e5;
}

.nav-info {
    padding-right: 10rem;
}

.nav-language-icon {
    width: 3rem;
    height: 3rem;
}

.nav-img {
    height: 6rem;
    width: 6rem;
    bottom: -1rem;
    right: 1rem;
    z-index: 5;
}

.left-category-container {
    background-color: #ede9f3;
    overflow-y: auto;
}

.left-category-container::-webkit-scrollbar {
    display: none;
}

.left-category-container-img {
    height: 4rem;
    width: 4rem;
}

.categories-contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-scroll-down-btn {
    bottom: 5rem;
    background-color: #ede9f3;
}

.menu-items-container {
    min-height: calc(100vh - 7rem);
    max-height: calc(100vh - 7rem);
    overflow-y: scroll;
}
.menu-items-container::-webkit-scrollbar {
    display: none;
}

.menu-item-card {
    background-color: #ede9f3;
    border-radius: 1rem;
}

.menu-item-img {
    height: 22vw;
}

.buy-now-buttton {
    background-color: #983426;
}

.foot-payment-button {
    background-color: #b13f1a;
}

.foot-bag-icon {
    background-color: #4f218d;
}

header {
    height: 7rem;
}

main {
    min-height: calc(100vh - 7rem);
    max-height: calc(100vh - 7rem);
    flex: 1;
}

footer {
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.payment-methods-container {
    width: 25rem;
}

